@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: ubuntu;
  font-style: normal;
}
.transition-all{
  transition-duration: 0.3s;
}
.profile-pic{
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
.nav-button{
  margin-top: auto;
  margin-bottom: auto;
  background: #F3F4F6;
  width:37px;
  height: 37px;
  border-radius: 17px;

}
body,.searchbar,input{
  background: #F3F4F6;
}


.activity-text,.activity-time-text{
font-family: Ubuntu;
font-weight: 400;
font-size: 10px;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
color:#565656;
}
.activity-time-text{
  color:#BDBDBD;
  padding-left: 1px;
}
.text-light_grey{
  color:#BDBDBD;
}
.h-high{
height: 450px;
}
.sidebar{
  left: 0;
  z-index: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
  
}
.h-89{
  height: 100vh;
}
.message-input{
  bottom: 0;
  position: fixed;
}
.message-input input{
height: 60px;
}

input{
  padding-left: 5px;
  padding-right: 5px;
}
 input:focus{
  outline: 0px;
  border-bottom: 2px solid red;
}
.searchbar input:focus,.message-input input:focus{
  border: none;
}
.search-div{
  width: 88%;
}

.home::-webkit-scrollbar,.activity::-webkit-scrollbar{
  width: 4px;
  background: #F3F4F6;
  border: none;
  padding: 0;
  margin: 0;
}
.activity:hover::-webkit-scrollbar-thumb,.home:hover ::-webkit-scrollbar-thumb{
   background-color: #888; 
  border-radius: 5px;  
}
::-webkit-scrollbar-track {
  background-color: #F3F4F6; 
}


@media (max-width:1280px) {
  .search-div{
    width: 100%;
  }
}
@media (max-width:769px) {
  .search-div{
    width: 100%;
  }
}
@media (max-width:540px) {
  .i-post{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width:640px){

  .home::-webkit-scrollbar{
    width: 0px;
  }
  .sidebar{
    width: 100%;
    bottom:0 ;
    left: 0;
    z-index: 0;
    height: fit-content;
    padding-top: 10px;
    overflow: hidden;
    position: fixed;
    border-top: 1px solid #F3F4F6;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .sidebar ul{

    flex-direction: unset;
    justify-content: space-around;
  }
  .searchbar{
    display: none;
  }
  ::-webkit-scrollbar{
    width: 0px;
  }
  .stories{
    grid-column-start:1;
  }
  .home{
    padding-right: 0px;
    gap: 20px;
  }

  .home section{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 100px;
    height: 100%;
  }
  .home section img{
    border-radius: 0px;
  }
  .homepage{
    margin-left: 0px;
  }
  .story-picture{
    height: 100%;
    width: 100%;
  }
  .i-post {

  }
}
