@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");

body {
  font-family: ubuntu;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.transition-all {
  transition-duration: 0.3s;
}
.profile-pic {
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
.nav-button {
  margin-top: auto;
  margin-bottom: auto;
  background: #f3f4f6;
  width: 37px;
  height: 37px;
  border-radius: 17px;
}
 body,
.searchbar,
input {
  background: #f5f5f5;
} 

.activity-text,
.activity-time-text {
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #565656;
}
.activity-time-text {
  color: #bdbdbd;
  padding-left: 1px;
}
.text-light_grey {
  color: #bdbdbd;
}
.h-high {
  height: 450px;
}
.sidebar {
  left: 0;
  z-index: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.h-89 {
  height: 100vh;
}

.message-input input {
  height: 60px;
}

input {
  padding-left: 5px;
  padding-right: 5px;
}
input:focus {
  outline: 0px;
}
.searchbar input:focus,
.message-input input:focus {
  border: none;
}
.search-div {
  width: 88%;
}



/* scrollbar styles */

.home::-webkit-scrollbar,
.activity::-webkit-scrollbar,
.i-post::-webkit-scrollbar,.followerBar::-webkit-scrollbar{
  width: 4px;
  background: #f3f4f6;
  border: none;
  padding: 0;
  margin: 0;
}
.followerBar::-webkit-scrollbar{
  height: 2px;
}
.i-post::-webkit-scrollbar-track {
  background: white;
}
.activity:hover::-webkit-scrollbar-thumb,
.home:hover ::-webkit-scrollbar-thumb,
.i-post:hover::-webkit-scrollbar-thumb,
.followerBar::-webkit-scrollbar-thumb
 {
  background-color: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}



/* file input styles */
.label input[type="file"] {
opacity: 0;
}
.label  {
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px 15px;
  background: #dddddd;
  display: inline-block;
  background: black;
  background-image: url(./ui/images/addPhoto.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
}

/* shadow for componenets */
.box-shadow{
  box-shadow:0px 0px 3px 0px rgba(235, 235, 235, 0.8);
 }



.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid black;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid black;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid black;
}
/* back button for create posts */
.back-btn{
  border-top-left-radius: 0.375rem;

}
/* input for create posts */
.label .createPostInput{
position: relative;
 top:0;
}
/* loading component */



.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}
.close{
  border-top-right-radius:0.375rem ;
}

.spinningLoader{
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -.125em;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation:spinner .75s linear infinite 
}
.active{
  background: #000;
  padding: 5px;
}
.like-btn:hover{
transform: scale(1.2);
transition: all 0.2s;
background-color: #000;
}
@keyframes spinner {
  from {
      transform: rotate(0turn);
  }

  to {
      transform: rotate(1turn);
  }
}
@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}


@media (max-width: 1280px) {
  .search-div {
    width: 100%;
  }
}
@media (max-width:880px) {
  .activity{
    display: none;
  }
}
@media (max-width: 769px) {
  .search-div {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .message-input{
    position: fixed;
      bottom: 52px;
      height: 60px;
      z-index: 3;
  }
  .home::-webkit-scrollbar {
    width: 0px;
  }
  .sidebar {
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 4;
    height: fit-content;
    padding-top: 10px;
    overflow: hidden;
    position: fixed;
    border-top: 1px solid #f3f4f6;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .sidebar ul {
    flex-direction: unset;
    justify-content: space-around;
  }
  .searchbar {
    display: none;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  .stories {
    grid-column-start: 1;
  }
  .home {
    padding-right: 0px;
    gap: 20px;
  }

  .home section {
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 20px;
    height: 100%;
  }

  .homepage {
    margin-left: 0px;
  }
}
@media (max-width: 540px) {
.post-contents{
  width: 150px;
  height: 150px;
  
}
  
}

